<div class="container py-4">
  <div class="row justify-content-center">
    @if (detailResponse) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-center">
          <img [src]="detailResponse.portrait_path" class="card-img-top" alt=" Personaje">
          <div class="card-body">
            <h3>{{ detailResponse.name }}</h3>

            <h4>Ocupación:</h4>
            @for (job of detailResponse.occupation; track job) {
              <p>{{ job }}</p>
            }

            <h4>Frases icónicas:</h4>
            @for (phrase of detailResponse.phrases; track phrase) {
              <p>"{{ phrase }}"</p>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
