.card-center {
  border: 3px solid #00c8ff;
  border-radius: 18px;
  background: linear-gradient(180deg, #0a0a0a 60%, #001f2b);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.8);
  overflow: hidden;
}



.card-img-fixed {
  width: 180px;
  object-fit: cover;
  margin: 0 auto; 
}


.card-center h3 {
  font-size: 1.65rem;
  font-weight: bold;
  color: #ff9f00;
  text-shadow: 0 0 6px rgba(255, 159, 0, 0.8);
  margin-bottom: 10px;
}

.card-center h4 {
  margin-top: 12px;
  margin-bottom: 5px;
  color: #ffea00;
  text-shadow: 0 0 6px rgba(255, 234, 0, 0.8);
}

.card-center p {
  line-height: 1.4rem;
  font-size: 1rem;
}
