<div class="container py-4">
  <div class="row justify-content-center">
    @if (detailResponse) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-center">

        <img [src]="detailResponse.image" class="card-img-top" alt="Personaje">

        <div class="card-body text-center">

          <h3>{{ detailResponse.name }}</h3>

          <h4>Ubicacion:</h4>
          <p>{{ detailResponse.location.name }}</p>

          <h4>Episodios:</h4>
          <ul class="text-start text-center">
            @for (ep of detailResponse.episode; track ep) {
            <li>{{ ep }}</li>
            }
          </ul>

        </div>
      </div>
    </div>
    }
  </div>
</div>